{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
    <div class="container">
        <div class="row g-5 justify-content-between">

            {% for event in events %}
                <div class="col-12 col-md-6">
                    <div class="card overflow-hidden">
                        <div class="row flex-column flex-sm-column flex-md-row">
                            <div class="col-12 col-md-6">
                                <img class="img-fluid h-100 vintage-img object-fit-cover"
                                     alt="{{ event.title }}"
                                     src="{{ asset(event.imagePath) }}"/>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card-body vstack gap-2">
                                    <div class="fw-bold">{{ event.title|title }}</div>
                                    <div>{{ event.content|nl2br }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
