<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Leros{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

{{ include('partial/_navbar.html.twig') }}

{% block body %}{% endblock %}
{% if not app.user %}
    <div class="container-fluid mt-5">
        <div class="row justify-content-center g-0">
            <div class="col-12 col-md-12 text-center">
                <a href="/" class="link-dark text-decoration-none">
                    <span class="cinzel-decorative-bold">About Leros</span>
                </a>
                <p class="text-body-secondary text-center small text-muted">© {{ 'now'|date('Y') }}</p>
            </div>
        </div>
    </div>
{% endif %}

</body>
</html>
